@model PayPlus.Models.Partner

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h4 class="py-4 font-weight-bold">Podrobnosti partnerja</h4>
    <div class="card mt-3 w-50">
        <div class="card-body">
        <table class="table table-striped">
     
            <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.VAT_number)</td>
                <td>@Html.DisplayFor(model => model.VAT_number)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Address)</td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Postal_code)</td>
                <td>@Html.DisplayFor(model => model.Postal_code)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.City)</td>
                <td>@Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Country)</td>
                <td>@Html.DisplayFor(model => model.Country)</td>
            </tr>
            </tbody>
        </table>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Uredi</a>
            <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
        </div>
    </div>
</div>
</div>