@model IEnumerable<PayPlus.Models.Partner>

@{
    ViewData["Title"] = "Seznam partnerjev";
}

<h3 class="mb-4">Seznam partnerjev</h3>

<a class="btn btn-primary mb-3" asp-action="Create">
    <i class="ti ti-plus"></i> Dodaj partnerja
</a>

<div class="card mt-3">
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.First().City)</th>
                    <th>@Html.DisplayNameFor(model => model.First().Country)</th>
                    <th>Možnosti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((partner, index) => new { partner, index }))
                {
                    <tr>
              
                        <td>@item.partner.Name</td>
                        <td>@item.partner.City</td>
                        <td>@item.partner.Country</td>
                        <td>
                            <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-route-id="@item.partner.Id">
                                <i class="ti ti-edit"></i> Uredi
                            </a>
                      
                            <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.partner.Id">
                                <i class="ti ti-eye"></i> Podrobnosti
                            </a>
                            <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.partner.Id">
                                <i class="ti ti-trash"></i> Izbriši
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
