@model IEnumerable<PayPlus.Models.TravelOrder>
@using PayPlus.Extensions

@{
    ViewData["Title"] = "Travel Orders";
}

<div class="card mt-3">
    <div class="card-body">
        <div class="container d-flex justify-content-left">
            <a class="btn button-dodaj-storitev-partnerja" asp-action="Create">
                <i class="ti ti-plus"></i> Add Travel Order
            </a>

            <input type="search" class="form-control w-25 ms-3" placeholder="Search travel orders..." aria-label="Search">
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().order_id)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().order_date)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().date_start)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().date_end)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().location_start)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().location_end)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().full_name_driver)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().car_brand_and_model)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().car_type)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().trip_reason)</th>
                <th class="text-left">@Html.DisplayNameFor(model => model.First().full_name_organizer)</th>
                <th class="text-left">Možnosti</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((travelOrder, index) => new { travelOrder, index }))
                {
                    <tr>
                        <td class="text-left">@item.travelOrder.order_id</td>
                        <td class="text-left">@item.travelOrder.order_date.ToString("dd.MM.yyyy")</td>
                        <td class="text-left">@item.travelOrder.date_start.ToString("dd.MM.yyyy")</td>
                        <td class="text-left">@item.travelOrder.date_end.ToString("dd.MM.yyyy")</td>
                        <td class="text-left">@item.travelOrder.location_start</td>
                        <td class="text-left">@item.travelOrder.location_end</td>
                        <td class="text-left">@item.travelOrder.full_name_driver</td>
                        <td class="text-left">@item.travelOrder.car_brand_and_model</td>
                        <td class="text-left">@item.travelOrder.car_type.GetDisplayName()</td>
                        <td class="text-left">@item.travelOrder.trip_reason</td>
                        <td class="text-left">@item.travelOrder.full_name_organizer</td>
                        <td class="text-left">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-success btn-sm mx-1" asp-action="Edit"
                                   asp-route-id="@item.travelOrder.order_id">
                                    <i class="ti ti-edit"></i> Edit
                                </a>

                                <a class="btn btn-outline-primary btn-sm mx-1" asp-action="Details"
                                   asp-route-id="@item.travelOrder.order_id">
                                    <i class="ti ti-eye"></i> Details
                                </a>
                            </div>
                            <div class="d-flex justify-content-center pt-2">
                                <a class="btn btn-outline-danger btn-sm mx-1" asp-action="Delete"
                                   asp-route-id="@item.travelOrder.order_id">
                                    <i class="ti ti-trash"></i> Delete
                                </a>
                                <a class="btn btn-outline-secondary btn-sm mx-1" asp-action="ExportToPdf"
                                   asp-route-id="@item.travelOrder.order_id">
                                    <i class="ti ti-export"></i> Export
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
