@model PayPlus.Models.Offer

@{
    ViewData["Title"] = "Offer Details";
}

<div class="container d-flex justify-content-center">
    <div class="card w-50 mt-5">
        <div class="card-header">
            <h5>@ViewData["Title"]</h5>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Partner)</strong>
                </div>
                <div class="col-md-6">
                    @Model.Partner?.Name
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Services)</strong>
                </div>
                <div class="col-md-6">
                    @string.Join(", ", Model.Services.Select(s => s.ServiceName))
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.TotalPrice)</strong>
                </div>
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.TotalPrice)
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.OfferDate)</strong>
                </div>
                <div class="col-md-6">
                    @Model.OfferDate.ToShortDateString()
                </div>
            </div>

            <div class="mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
                    <i class="ti ti-pencil"></i> Edit
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="ti ti-arrow-left"></i> Back
                </a>
            </div>
        </div>
    </div>
</div>