@model PayPlus.Models.Service

@{
    ViewData["Title"] = "Podrobnosti storitve";
}

<div class="container">
    <h4 class="py-4 font-weight-bold">Podrobnosti storitve</h4>
    <div class="card mt-3 w-50">
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ServiceName)</td>
                    <td>@Html.DisplayFor(model => model.ServiceName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ServiceDescription)</td>
                    <td>@Html.DisplayFor(model => model.ServiceDescription)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Price)</td>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                </tbody>
            </table>

            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Uredi</a>
                <a asp-action="Index" class="btn btn-secondary">Nazaj</a>
            </div>
        </div>
    </div>
</div>
